<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST">
    {% csrf_token %}
    <label for="name">name:</label><br>
  <input type="text" id="name" name="name" ><br>
  <label for="branch">branch:</label><br>
  <input type="text" id="branch" name="branch" ><br><br>
    <label for="branch">college:</label><br>
  <input type="text" id="college" name="college" ><br><br>
    <label for="grade">grade:</label><br>
  <input type="text" id="grade" name="grade" ><br><br>
  <input type="submit" value="Submit">
</form>

</body>
</html>