{% load static %}
<html>
 <head>
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <link rel="stylesheet" href="{% static 'css/sample1.css' %}">
 </head>
 <body>
  <div class="container">
   <div class="jumbotron" align="center">
       <div class="container">
    <h1>WELCOME TO HYDERABAD NEWS PORTAL!!!</h1>
           <a class="btn btn-primary btn-lg" href="https://www.ndtv.com/world-news/israel-hamas-war-hamas-chief-home-bombed-israeli-air-strike-destroys-home-of-top-hamas-leader-ismail-haniyeh-4578648" role="button">Political News</a>
           <a class="btn btn-primary btn-lg" href="https://www.msn.com/en-in/sports/cricket/keeping-calm-under-pressure-helped-india-says-rohit-sharma-after-win-vs-nz/ar-AA1jYUlm" role="button">Sports News</a>
           <a class="btn btn-primary btn-lg" href="https://www.msn.com/en-in/news/other/vishwak-sen-hospitalized-after-a-mishap-at-the-gangs-of-godavari-movie-sets/ar-AA1k1aTI" role="button">Movie News</a>
           <a class="btn btn-primary btn-lg" href="https://www.bing.com/news/search?q=Health&qpvt=health+news&FORM=EWRE" role="button">Health News</a>
       </div>
   </div>
 </div>
 </body>
</html>